# 그룹화(Group) 실습
- DF/SR.groupby()매서드로 생성
- group단위로 평균, 최대, 최소 등과 같은 집계 메서드를 적용할 수 있다.

In [4]:
# 모듈 로딩
import pandas as pd
import numpy as np

# DF객체 생성
df = pd.DataFrame([("bird", "Falconiformes", 389.0),
                   ("bird", "Psittaciformes", 24.0),
                   ("mammal", "Carnivora", 80.2),
                   ("mammal", "Primates", np.nan),
                   ("mammal", "Carnivora", 58)],
                   index=["falcon", "parrot", "lion", "monkey", "leopard"],
                   columns=("class", "order", "max_speed"))
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [11]:
print(df.info(), df.columns, df.index,sep='\n\n\n')

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, falcon to leopard
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   class      5 non-null      object
 1   order      5 non-null      object
 2   max_speed  4 non-null      float64
dtypes: float64(1), object(2)
memory usage: 160.0+ bytes
None


Index(['class', 'order', 'max_speed'], dtype='object')


Index(['falcon', 'parrot', 'lion', 'monkey', 'leopard'], dtype='object')

In [15]:
# group 만들기 => 객체변수명.groupby(컬럼명)
class_group = df.groupby(by='class')

In [21]:
# 반복이 가능한 객체 => for ~ in 으로 안에있는 객체를 볼 수 있다.
for key, group in class_group:
    print(f'key = {key}, group = {group}')

key = bird, group =        class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0
key = mammal, group =           class      order  max_speed
lion     mammal  Carnivora       80.2
monkey   mammal   Primates        NaN
leopard  mammal  Carnivora       58.0

In [17]:
# groupby 객체의 속성 살펴보기
# group key = [요소 인덱스, ...]
class_group.groups

{'bird': ['falcon', 'parrot'], 'mammal': ['lion', 'monkey', 'leopard']}

In [18]:
# 특정 group key에 해당하는 데이터만 추출 => get_group(key)
class_group.get_group('bird')

       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0

In [24]:
# group 전체에 대한 메서드 적용
class_group.describe(include='all')

       order                                                           ...  \
       count unique            top freq mean  std  min  25%  50%  75%  ...
class                                                                  ...
bird       2      2  Falconiformes    1  NaN  NaN  NaN  NaN  NaN  NaN  ...
mammal     3      2      Carnivora    2  NaN  NaN  NaN  NaN  NaN  NaN  ...

       max_speed                                                           \
          unique top freq   mean         std   min     25%    50%     75%
class
bird         NaN NaN  NaN  206.5  258.093975  24.0  115.25  206.5  297.75
mammal       NaN NaN  NaN   69.1   15.697771  58.0   63.55   69.1   74.65


          max
class
bird    389.0
mammal   80.2

[2 rows x 22 columns]

In [28]:
print(class_group.mean(),class_group.std(), sep='\n')

        max_speed
class
bird        206.5
mammal       69.1
         max_speed
class
bird    258.093975
mammal   15.697771

In [29]:
# 특정 group에 대한 것만 처리 => get_group('key')
class_group.get_group('bird').describe()

        max_speed
count    2.000000
mean   206.500000
std    258.093975
min     24.000000
25%    115.250000
50%    206.500000
75%    297.750000
max    389.000000

In [33]:
# 집계 함수를 한꺼번에 적용 => agg([{컬럼명:함수명}, {함수명, ...}])
bird_group = class_group.get_group('bird')
bird_group.agg(['sum','max','min','mean','std'])

C:\Users\kry11\AppData\Local\Temp\ipykernel_17092\3982635057.py:3: FutureWarning: ['class', 'order'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  bird_group.agg(['sum','max','min','mean','std'])

         class                        order   max_speed
sum   birdbird  FalconiformesPsittaciformes  413.000000
max       bird               Psittaciformes  389.000000
min       bird                Falconiformes   24.000000
mean       NaN                          NaN  206.500000
std        NaN                          NaN  258.093975

In [38]:
bird_group.agg({'max_speed':['sum','max','min','mean','std'], 'order':'sum'})

       max_speed                        order
sum   413.000000  FalconiformesPsittaciformes
max   389.000000                          NaN
min    24.000000                          NaN
mean  206.500000                          NaN
std   258.093975                          NaN

In [41]:
# 사용자 정의 함수 사용
def get_max_min(x):
    return x.max()-x.min()
bird_group.agg({ 'order':'sum', 'max_speed':[get_max_min]})

                                   order  max_speed
sum          FalconiformesPsittaciformes        NaN
get_max_min                          NaN      365.0

# 과제

In [81]:
# group에서 필터링하기 => fillter(True / False)

TypeError: 'function' object is not iterable